

.contTree, .contTree ul, .contTree li {
  position: relative;
}

.contTree ul {
  list-style: none;
}

.contTree li::before, .contTree li::after {
  content: "";
  position: absolute;
  left: -12px;
}

.contTree li::before {
  border-top: 2px solid #008000cc;
  box-shadow: 0px 0px 9px #7dbbb9;
  top: 9px;
  width: 8px;
  height: 0;
}

.contTree li::after {
  border-left: 2px solid #551717d0;
  box-shadow: 0px 0px 9px #7dbbb9;
  height: 100%;
  width: 0px;
  top: 2px;
}

.contTree ul > li:last-child::after {
  height: 8px;
}

.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
}


.colorDir {
  color: #00a8cc;
}

.colorDir a {
  text-decoration: none;
}

.colorDir > a {
	color: #00a8cc;
}

.colorDir > a:hover {
  color: #bff3ff;
  background: #ffffff00;
  text-shadow: 0px 0px 7px #7dbbb9;
}

.colorDir > a:link, .colorDir > a:visited {
  color: #00a8cc;
}