/* fuentes
 *
 * paletas colorhunt.co  https://colorhunt.co/palette/171392
 * https://developer.mozilla.org/es/docs/Web/Reference
 * https://www.w3schools.com/ monospace
 *
 * Colors:
 * body #002b36 section #27496d H1 #7dbbb9 H2 #00a8cc nota #437A16 borfer #0c7b93 #c5d7d9 #2a5d68
*/

body {
	background: #002b36;
	line-height: 1.6;
	letter-spacing: 0.05rem;
}

.flexHeader {
	display: flex;
	flex-wrap: wrap;
	background: #27496d;
	align-items: baseline;
	margin: 0px 20px;
	margin-top: 50px;
	padding: 0.1px 30px;
}

.flexHeader > h1 {
	font-size: 30px;
	color: #002b36;
	flex: 80%;
}

.flexHeader > a {
  width: 40px;
	height: 40px;
	padding: 9px 7px;
	margin-top: 30px;
	border-style: solid;
	border-color: #002b36;
}

.flexHeader > a:hover {
	background: #002b36;
}

section > div {
	text-align: center;
	background: #27496d;
	color: #00a8cc;
	padding: 30px 30px;
	margin: 0px 20px;
	margin-top: 50px;
	border-style: solid;
	border-color: #0c7b93;
}

section > div > h1 {
	color: #7dbbb9;
	font-size:  40px;
	border-style: solid;
	border-color: #7dbbb9;
}

.center {
	position: relative;
  display: inline-block;
}

ol, li {
	text-align: left;
}

article > .marco {
	color: #7dbbb9;
	background: #27496d;
	border-style: solid;
	border-color: #0c7b93;
	padding: 20px 20px;
	margin: 20px 20px 20px 20px;
}
article > div > h2 {
	color: #00a8cc;
	font-size:  40px;
	padding: 0 0px;
}
article > div > h3 {
	color: #00a8cc;
	font-size:  25px;
	border-bottom: solid;
	border-color: #0c7b93;
	padding: 20px 25px;
}
article > div > h4 {
	color: #00a8cc;
	font-size:  20px;
}

article > div > p {
	padding: 30px 0 0 0;
}

.nota {
	color: #437A16;
	margin: 0;
	padding: 0px 30px;
}

.adver {
	color: #550000;
	background: #fff3d4;
	border-left: 5px solid #f6b73c;
	margin: 20px 20px;
	padding: 10px 30px;
}
.adver > div {
	padding: 0 0 0 50px;
}

img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 100%;
  height: auto;
}


details {
	border-style: solid;
	border-color: #27496d;
  background: #002b36;
	color: #00a8cc;
  padding: 0 10px;
  margin: 0 20px;
}

footer {
	text-align: center;
	position: relative;
	color: #7dbbb9;
	padding: 10px 10px;
	margin: 10px 20px;
}
