/* para dispositivo con menos de 600px */
@media (max-width: 600px) {
	body {
		padding-top: 15rem;
	}
	.navbar {
		display: flex;
		flex-direction: column;
	}
	.navbar .c2mismo {
		display: inline-block;
		font-size: 1.3rem;
	}
	.navbar h1 {
		display: inline-block;
		color: #7dbbb9;
		margin: 1rem 1rem 1rem 1rem;
		text-align: center;
	}
	.navbar .menuBtn {
		display: inline-block;
		width: 60px;
		margin: auto;
		margin-bottom: 1rem;
		padding: 0.3rem 0.3em;
}

@media print {
	/* Pages have their own margins. */
	html {
		margin: 0;
	}
	/* Serif for print. */
	body {
		font-family: serif;
	}
}
@page {
	margin: 1.5cm 1.1cm;
}
