@media only screen and (orientation: portrait) {
  .flexHeader {
		margin-top: 1rem;
		width: 100%;
	}
	nav{
		margin-top: 1rem;
	}
	section > div {
		margin-top: 1rem;
		width: 100%;
	}
	article > .marco {
		width: 100%;
		margin: 0.50rem auto;
	}
	details {
		width: 100%;
	}
}