/* para dispositivo con menos de 600px */
@media (max-width: 600px) {
	h1 {
		font-size: 1.25rem;
	}
	nav{
		background: #27496d;
		flex-direction: column;
	}
	.navButton{
		display: inline-block;
	}
	.hideLikeMovil{
		display: none;
	}
}
