nav {
	width: 98%;
	background: #27496d;
	border: 0.1875rem solid #0c7b93;
	border-radius: 0.4rem  0.4rem 1.25rem 1.25rem;
	margin: 0 auto;
	margin-top: 3.125rem;
	padding: 0.625rem 1.25rem;
	display: flex;
	justify-content: space-around; /* center space-between flex-end */
}
.navBar{
	display: block;
	background: #2eb8b8; /* 00a8cc  0c7b93 00a8cc*/
	color: #002b36;
	padding: 0.625rem 0.625rem;
	margin: 0.625rem;
	border: 0.2rem solid #adebeb; /* fff */
  border-radius: 0.8rem 0.3rem;
	letter-spacing: 0.1rem;
}
.navBar:hover{ /* raton sobre */
	background: #7dbbb9;
}
.navBar:active{ /* click raton */
	background: #002b36;
	color: #2eb8b8;
	border: 0.2rem solid #003d4d;
}
.navButton{
	font-size: 1.875rem;
	background: #2eb8b8;
	color: #002b36;
	padding: 0.625rem 0.625rem;
	margin: 0.625rem;
	border: 0.2rem solid #adebeb; /* fff */
	border-radius: 0.8rem 0.3rem;
	letter-spacing: 0.1rem;
	display: none;
}
.navButton:hover{ /* raton sobre */
	background: #7dbbb9;
}
.navButton:active{ /* click raton */
	background: #002b36;
	color: #2eb8b8;
	border: 0.2rem solid #003d4d;
}


.actualDirectory {
	width: 80%;
  color: #550000;
  background: #0c7b93;
	margin: 0 auto;
	padding: 0;
}

.formatActDir {
	margin: 0 1.25rem;
	padding: 0;
}


.dirArduino, .dirElectronica, .dirInformatica {
	width: 80%;
  color: #002b36;
  background: #0c7b93;
	margin: 0 auto;
	padding: 1.25rem 1.875rem;
  border-radius: 0 0 1.25rem 1.25rem;
}

.hidden {
	display:none;
} 
