body {
  transition: background-color .5s;
}

#menuNav {
  height: 100%;
  width: 0;
  max-width: 100%;
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  background-color: #002b36c9;
  overflow-x: hidden;
  transition: 2.5s;
  padding-top: 32px;
}
#menuNav .menuNavBtn {
  display: block;
  float: right;
  width: 60%;
  margin-bottom: 1px;
  padding: 8px 8px 8px 5%;
  text-decoration: none;
  font-size: 25px;
  text-align: left;
  color: #042129;
  background-color: #084757;
  border: 0.05rem solid #16a5c9;
  transition: 0.3s;
	cursor: pointer;
}
#menuNav .menuNavBtn2 {
  display: block;
  float: right;
  width: 70%;
  margin-bottom: 1px;
  padding: 8px 8px 8px 15%;
  text-decoration: none;
  font-size: 25px;
  text-align: left;
  color: #16a5c9;
  background-color: #084757;
  border: 0.05rem solid #16a5c9;
  transition: 0.3s;
	cursor: pointer;
}
#menuNav .menuNavBtn:hover {
  color: #97e8ff;
}#menuNav .menuNavBtn2:hover {
  color: #97e8ff;
}

#menuNav .contSplitMenuNav {
  display: block;
  width: 90%;
}
#menuNav .splitMenuenuNav {
  display: block;
  float: right;
  width: 80%;
  height: 1rem;
  margin-top: 1.5rem;
  padding: 8px 8px 8px 5%;
  background-color: #084757;
  border: 0rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 9px #7dbbb9;
  transition: 0.3s;
}
#menuNav .contDivMenu {
  display: block;
  float: right;
  z-index: 90;
  width: 100%;
  height: auto;
}

#menuNav .marcoMenu {
  width: 92%;
  margin: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  height: auto;
  border: 0;
	border-radius: 0.625rem;
  box-shadow: 0px 0px 9px #7dbbb9;
}
.iframeArchivos {
  /* Ampliar height
  conforme añadamos archivos
  a la lista */
  height: 200px;
  border: 0;
}

#menuNav .center {
	position: relative;
  display: inline-block;
}
#menuNav ol, li {
  text-align: left;
	color: #00a8cc;
}

#menuNav .closeMenuBtn {
  z-index: 91;
  position: fixed;
  outline: none;
  width: 50px;
  height: 50px;
  top: 0;
  right: 40rem;
}
#menuNav .closeMenuBtn {
  text-align: center;
  font-family:arial;
  font-size: 2rem;
	color: #00a8cc;
	margin: 1.35rem;
	background: #4588cf33;
	border: 0rem;
	border-radius: 0.625rem;
  box-shadow: 0px 0px 9px #7dbbb9;
	cursor: pointer;
}
#menuNav .closeMenuBtn:hover {
	background: #84aedb33;
	border: 0rem;
}
#menuNav .closeMenuBtn:active {
	background: #002b3633;
	border: 0rem;
}

@media (max-width: 600px) {
  #menuNav .indiceDeco {
    margin: 1rem;
    padding-top: 0.5rem;
    padding-left: 0rem;;
  }
  #menuNav iframe {
    margin: 1rem;
    padding-top: 0.5rem;
    padding-left: 0rem;;
  }
  #menuNav .closeMenuBtn {
    z-index: 91;
    position: fixed;
    outline: none;
    width: 50px;
    height: 50px;
    top: 0;
    right: 19rem;
  }
}
/* Ver width de menuNav */
/* en toggleHideDivShadow.js */
@media (max-width: 750px) {
  #menuNav .closeMenuBtn {
    left: 0rem;
  }
}
